<%#= @contributors %>
<!-- <hr /> -->

<%# @contributors.each do |contributor| %>
  <!-- <div> -->
    <%#= contributor["contributor"] %>
  <!-- </div> -->
<%# end %>

<!-- <hr /> -->

<%#= @gifts %>
